STRIDEHUB_DB_NAME=stridehub
STRIDEHUB_DB_USERNAME=stridehub
STRIDEHUB_DB_PASSWORD=stridehub
STRIDEHUB_DB_PORT=5432
STRIDEHUB_REDIS_PORT=6379
STRIDEHUB_REDIS_HOST=localhost
STRIDEHUB_MAIL_HOST=localhost
STRIDEHUB_MAIL_PORT=1025
STRIDEHUB_JWT_SECRET=changeit-changeit-changeit-changeit
MINIO_ROOT_USER=stridehub
MINIO_ROOT_PASSWORD=stridehub123
